html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
}

h1 {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 6vmin;
    margin: 1vh 0 2vh 0;
}

hr {
    margin: 4vh 10vw;
}

body.busy {
	animation: pulseIn 1s ease 500ms, pulseOut 1s ease 500ms;
}

@keyframes pulseIn {
  from { background-color: black; }
  to {   background-color: white; }
}
@keyframes pulseOut {
  from { background-color: white; }
  to {   background-color: black; }
}

.overview > .active > .tiles,
.overview > .inactive > .tiles {
    display: grid;
    grid-template-columns: repeat(3, 28vmin);
    grid-auto-rows: 28vmin;
    gap: 2vmin;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.tile {
	width: 100%;
	height: 100%;

	background-color: #ccc;

	display: grid;
    grid-template-areas: "t" "d";
    grid-template-columns: 100%;
    align-content: space-evenly;
    justify-items: center;
    justify-content: center;

    border-radius: 0.25rem;
    box-shadow: #0007 5px 5px 5px;
    border: 1px solid #fff7;

    overflow: hidden;
}

.tile.inactive {
    filter: opacity(0.25);
}

.tile > .title {
    grid-area: t;
	font-weight: bold;
	white-space: nowrap;
    /*
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    */
    font-size: 6vmin;
    text-align: center;
}

.tile > .dots {
    grid-area: d;
    display: flex;
    flex-wrap: wrap;
    gap: 1vmin;
    background-color: #fff6;
    padding: 1vmin;
    margin: 0 2vmin;
    border-radius: 0.5rem;
    justify-content: center;
}

.tile > .dots > .dot {
    width: 4vmin;
    height: 4vmin;

    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

.tile > .dots > .dot:hover {
    border-color: #fff;
    box-shadow: #fff 0 0 4px;
}


.endpointsDetails table th {
    text-align: start;
    padding: 0.5em 0.5em;
    background-color: #ddd;
}
.endpointsDetails table td {
    white-space: nowrap;
    padding: 0.5em 0.5em;
}
.endpointsDetails table td > button {
    height: 1.25em;
    font-size: 1.5em;
    color: #666;
}

.endpointBody {
    font-size: 0.75rem;
}

.endpointBody .content {
    background-color: #ddd;
    font-family: 'Courier New', Courier, monospace;
}

.status_green {
	background-color: #2a2;
}
.status_yellow {
	background-color: #dd1;
}
.status_red {
	background-color: #c66;
}
.status_grey {
    background: repeating-linear-gradient(-45deg, #ccc, #ccc 30px, #dbdbdb 30px, #dbdbdb 60px);
}
